!!!
<link rel="stylesheet" href="css/normalize.css">
%html{:lang => "ja-JP"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    .single-container
      %header.single-header
        %h1
          %a{:href => "https://www.mercari.com/jp/"}
            %img{:alt => "mercari", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3761641567"}/
      %main-signup
        %section.l-single-container-signup
          %h2.l-single-head.registration 新規会員登録
          %form.l-single-inner.registration-form
            %input{:name => "__csrf_value", :type => "hidden", :value => "7088e23ff34753755fa91a4bd357742cb0b9477a98bc9bf39fa29885088ce782622488d02d5244764a1951cd25bb0f0e3bb22c2dcaafdc3031122e0b4d1b65767"}/
            .l-single-content
              %a.btn-default.btn-mail{:href => "/signup/registration/"}
                %i.far.fa-envelope
                メールアドレスで登録する
              
              %button#facebook-login.btn-default.btn-sns.btn-sns-facebook
                %i.fab.fa-facebook-square
                Facebookで登録する

              %button#google-login.btn-default.btn-sns.btn-sns-google
                Googleで登録する

                
      %footer.single-footer
        %nav
          %ul.clearfix
            %li
              %a{:href => "https://www.mercari.com/jp/privacy/"} プライバシーポリシー
            %li
              %a{:href => "https://www.mercari.com/jp/tos/"} メルカリ利用規約
            %li
              %a{:href => "https://www.mercari.com/jp/tokutei/"} 特定商取引に関する表記
        %a.single-footer-logo{:href => "https://www.mercari.com/jp/"}
          %img{:alt => "mercari", :height => "65", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3761641567", :width => "80"}/
        %p
          %small © 2019 Mercari
    %script{:src => "//www-mercari-jp.akamaized.net/assets/js/app.js?4246962500"}
