.single-footer {
  width: 456px;
  height: 220px;
  margin: 0 auto;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 250px;
  padding: 40px 0;
  text-align: center;
    & nav {
    display: block;
    list-style: none;
    }
    img {
    width: 80px;
    height: 65px;
    margin: 40px auto 0;
    a {
    display: block;
    color: #333;
    }
  }
  li {
  margin: 16px 0 0;
  font-size: 12px;
  list-style: none;
  margin: 0 0 0 16px;
  }
  p {
    margin: 8px 0 0;
  }
  }