.header {
  background-color: white;
  position: relative;
  .header-contents {
    width: 1020px;
    margin: 0px auto;
    padding: 8px 0px 0px;
    .header-search {
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      &__icon {
      -webkit-box-align: center;
      align-items: center;
      display: flex;
      height: 40px;
      margin-right: 45px;
        a {
        color: inherit;
        text-decoration: none;
          img {
            height: 36px;
            width: 134px;
          }
        }
      }
      &__form {
      position: relative;
      width: 100%;
        input {
          background-color: rgb(245, 245, 245);
          font-size: 16px;
          height: 40px;
          line-height: 1.4em;
          position: relative;
          width: 100%;
          -webkit-appearance: none;
          border-width: 1px;
          border-style: solid;
          border-color: rgb(204, 204, 204);
          border-image: initial;
          border-radius: 4px;
          outline: none;
          padding: 0px 50px 0px 10px;
          transition: all 0.3s ease-out 0s;
        }
      }
    }
  }
}