
.single-header img {
  display: inline-block;
  margin-top: auto;
  width: 185px;
  height: 49px;
}

.single-header {
  text-align: center;
}

.single-header h1 {
  margin: 40px 0 0;
  display: inline-block;
}

.btn-mail {
  color: #fff;
  background-color: #ea352d;
}

.btn-sns-facebook {
  margin: 16px 0 0;
  background: #385185;
  color: #fff;
}

.btn-sns-google {
  margin: 16px 0 0;
  background: #fff url(/jp/assets/img/common/common/google.svg) no-repeat 3px top;
  border: #979797 solid 1px;
  color: #333;
}