.signup-card-list {
  margin: 8px 0 0;
  font-size: 0;
}

.single-container ul li {
  display: inline-block;
  margin: 0 0 0 8px;
  vertical-align: middle;
  }

.select-wrap.half {
  display: inline-block;
  width: calc(50% - 2px);
  .select-wrap {
  margin: 8px 0 0;
  position: relative;
  background: #fff;
  }
  select {
  width: calc(100% - 38px);
  }
}

.signup-form-expire .select-wrap .icon-arrow-bottom {
  font-size: 10px;
  margin: 0 6px 0 -15px;
  position: relative;
  top: 3px;
  pointer-events: none;
}

.select-wrap .icon-arrow-bottom {
  position: absolute;
  right: 16px;
  top: 50%;
  z-index: 2;
  color: #888;
  font-size: 8px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.signup-seqcode {
  position: relative;
  margin: 8px 0 0;
}

.signup-seqcode-text {
  text-align: right;
  color: #0099e8;
}

.form-question {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #0099e8;
  color: #fff;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
}
