.l-single-container-credit-input{
  width: 700px;
  margin: 0 auto;
  background: #fff;
  .registration {
    font-size: 22px;
    padding: 32px;
    font-weight: 600;
    text-align:center;
  }
  #charge-form {
    padding: 32px;
  }
  .new_profile {
  padding: 40px 40px 64px;
  }
  .l-single-content {
    margin: 0 auto;
    max-width: 343px;
  }
  .signup-form__input-default,#exp_month,#exp_year {
    width: 70%;
    margin: 8px 0 0;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    height: 48px;
    padding: 0 16px;
    border: 1px solid #ccc;
    background: 0;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
  }
  span {
    margin-left:10px;
  }
  .fas.fa-chevron-down {
    position: relative;
  }
  .fas.fa-chevron-down:before {
    color: #888;
    font-size: 1rem;
    position: absolute;
    top: 0rem;
    bottom: 2rem;
    left: 0rem;
    right: 0rem;
    margin: auto 0;
    z-index: 5;
  }
  .form-require {
    background: #ea352d;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    vertical-align: top;
  }
    #no-need {
      background: gray;
  }
  .form-group {
    margin: 40px 0 0;
  input {
    width: 100%;
    margin: 8px 0 0;
    height: 48px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
    }
  }
  #token_submit{
    margin: 50px 0 0;
    color:white;
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
    background: #ea352d;
  }
}

.l-chapter-sub-head {
  font-size: 16px;
  font-weight: bold;
  }
  .settings {
  &-add-card {
  padding: 24px 0;
  border-bottom: 1px solid #eee;
  & a i {
    margin-right: 16px;
    }
  }
  &-not-regist a {
  display: block;
  margin: 40px 0 0;
  text-align: right;
  color: #0099e8;
  text-decoration: none;
  }
}