.maincontents
  = render "products/headers"
  .bread-crumbs
    .bread-crumbs_list
      - breadcrumb :identification
      = breadcrumbs separator: " &nbsp;&nbsp;&#12297;&nbsp; "
 
  .exhibit-button
    %a.exhibit
      .exhibit-contents
        .exhibit-contents__text 出品
        %svg.cameraicon{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 18 16", :width => "18"}
          %path{:d => "M6.3 0L4.653 1.778H1.8c-.99 0-1.8.8-1.8 1.778v10.666C0 15.2.81 16 1.8 16h14.4c.99 0 1.8-.8 1.8-1.778V3.556c0-.978-.81-1.778-1.8-1.778h-2.853L11.7 0H6.3zM9 13.333c-2.484 0-4.5-1.99-4.5-4.444 0-2.453 2.016-4.445 4.5-4.445s4.5 1.992 4.5 4.445c0 2.453-2.016 4.444-4.5 4.444zm0-1.6c1.59 0 2.88-1.273 2.88-2.844S10.59 6.044 9 6.044c-1.59 0-2.88 1.274-2.88 2.845 0 1.57 1.29 2.844 2.88 2.844z", :fill => "currentColor", "fill-rule" => "nonzero"}

  %main.l-container.clearfix
    .l-content
      %section.l-chapter-container.mypage-identification
        %h2.l-chapter-head 本人情報の登録
        %form.l-single-inner{:action => "https://www.mercari.com/jp/mypage/identification/save/", :method => "POST", :novalidate => ""}
          %div
            %p
              お客さまの本人情報をご登録ください。
              %br>/
              登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
            %p.text-right
              %a{:href => "/jp/help_center/article/495/", :target => "_blank"}
                本人確認書類のアップロードについて
                %i.fas.fa-chevron-right
          .form-group
            %label お名前
            %p 山田 太郎
          .form-group
            %label お名前カナ
            %p ヤマダ タロウ
          .form-group
            %label{:for => "birthday"} 生年月日
            %p 2019/10/16
          .form-group
            %label{:for => "zip_code"} 郵便番号
            %span.form-arbitrary 任意
            %input.input-default{:name => "zip_code", :placeholder => "例）1234567", :type => "text", :value => ""}/
          .form-group
            %label{:for => "prefecture"} 都道府県
            %span.form-arbitrary 任意
            .select-wrap
              %i.fas.fa-chevron-down
              %select.select-default{:name => "prefecture"}
                %option --
                %option 北海道
                %option 青森県
                %option 岩手県
                %option 宮城県
                %option 秋田県
                %option 山形県
                %option 福島県
                %option 東京都
                %option 神奈川県
                %option 埼玉県
                %option 千葉県
                %option 茨城県
                %option 栃木県
                %option 群馬県
                %option 山梨県
                %option 新潟県
                %option 長野県
                %option 富山県
                %option 石川県
                %option 福井県
                %option 愛知県
                %option 岐阜県
                %option 静岡県
                %option 三重県
                %option 大阪府
                %option 兵庫県
                %option 京都府
                %option 滋賀県
                %option 奈良県
                %option 和歌山県
                %option 鳥取県
                %option 島根県
                %option 岡山県
                %option 広島県
                %option 山口県
                %option 徳島県
                %option 香川県
                %option 愛媛県
                %option 高知県
                %option 福岡県
                %option 佐賀県
                %option 長崎県
                %option 熊本県
                %option 大分県
                %option 宮崎県
                %option 鹿児島県
                %option 沖縄県
          .form-group
            %label{:for => "city"} 市区町村
            %span.form-arbitrary 任意
            %input.input-default{:name => "city", :placeholder => "例) 横浜市緑区", :type => "text", :value => ""}/
          .form-group
            %label{:for => "address1_label"} 番地
            %span.form-arbitrary 任意
            %input.input-default{:name => "address1", :placeholder => "例) 青山1−1−1", :type => "text", :value => ""}/
          .form-group
            %label{:for => "address2_label"} 建物名
            %span.form-arbitrary 任意
            %input.input-default{:name => "address2", :placeholder => "例) 柳ビル103", :type => "text", :value => ""}/
          %button.btn-default.btn-red{:type => "submit"} 登録する
          .form-group.text-right
            %p
              %a{:href => "/jp/help_center/article/423/", :target => "_blank"}
                本人情報の登録について
                %i.icon-arrow-right
          %input{:name => "__csrf_value", :type => "hidden", :value => "2b070435ddf7af4ec89ed407780000e0b6fd37e6dfc8a4fdd7670f7972d339b060d097a318d3cf4682f8d791b307ab34a2ec6a3e9853c45e263cb409473271894"}/

    .l-side
      %nav.mypage-nav
        %ul.mypage-nav-list
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/"}
              マイページ
              %i.fas.fa-chevron-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/notification/"}
              お知らせ
              %i.fas.fa-chevron-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/todo/"}
              やることリスト
              %i.fas.fa-chevron-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/like/history/"}
              いいね！一覧
              %i.fas.fa-chevron-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/sell/"}
              出品する
              %i.fas.fa-chevron-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/listings/listing/"}
              出品した商品 - 出品中
              %i.fas.fa-chevron-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/listings/in_progress/"}
              出品した商品 - 取引中
              %i.fas.fa-chevron-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/listings/completed/"}
              出品した商品 - 売却済み
              %i.fas.fa-chevron-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/purchase/"}
              購入した商品 - 取引中
              %i.fas.fa-chevron-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/purchased/"}
              購入した商品 - 過去の取引
              %i.fas.fa-chevron-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/news/"}
              ニュース一覧
              %i.fas.fa-chevron-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/review/history/"}
              評価一覧
              %i.fas.fa-chevron-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/help_center/"}
              ガイド
              %i.fas.fa-chevron-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/support/"}
              お問い合わせ
              %i.fas.fa-chevron-right
        %h3.mypage-nav-head メルペイ
        %ul.mypage-nav-list
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/sales/"}
              売上・振込申請
              %i.fas.fa-chevron-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/point/"}
              ポイント
              %i.fas.fa-chevron-right
        %h3.mypage-nav-head 設定
        %ul.mypage-nav-list
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/profile/"}
              プロフィール
              %i.fas.fa-chevron-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/deliver_address/"}
              発送元・お届け先住所変更
              %i.fas.fa-chevron-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/card/"}
              支払い方法
              %i.fas.fa-chevron-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/email_password/"}
              メール/パスワード
              %i.fas.fa-chevron-right
          %li
            %a.mypage-nav-list-item.active{:href => "/jp/mypage/identification/"}
              本人情報
              %i.fas.fa-chevron-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/sms_confirmation/"}
              電話番号の確認
              %i.fas.fa-chevron-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/logout/"}
              ログアウト
              %i.fas.fa-chevron-right

  %aside.app-banner
    .app-banner-pc
      .app-banner-pc-inner
        %h2 スマホでかんたんフリマアプリ
        %p 今すぐ無料ダウンロード！
        .app-banner-icon.clearfix
          %figure
            %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?3466462615", :width => "68"}/
          %ul.clearfix
            %li
              %a{:href => "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", :target => "_blank"}
                %img{:alt => "", :height => "40", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?3466462615", :width => "133"}/
            %li
              %a{:href => "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", :target => "_blank"}
                %img{:alt => "", :height => "40", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?3466462615", :width => "133"}/
      %figure
        %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?3466462615"}/

  %footer.global-footer
    %nav.clearfix
      .footer-cell
        %h2.footer-head メルカリについて
        %ul
          %li
            %a{:href => "https://about.mercari.com/"} 会社概要（運営会社）
          %li
            %a{:href => "https://www.mercari.com/jp/jobs/"} 採用情報
          %li
            %a{:href => "https://about.mercari.com/press/news/"} プレスリリース
          %li
            %a{:href => "https://jp-news.mercari.com/", :target => "_blank"} 公式ブログ
          %li
            %a{:href => "https://www.mercari.com/jp/logo-guidelines/"} メルカリロゴ利用ガイドライン
          %li.footer-social-link
            %a{:href => "https://twitter.com/mercari_jp", :target => "_blank"}
              %i.fab.fa-twitter
          %li.footer-social-link
            %a{:href => "https://www.facebook.com/mercarijp", :target => "_blank"}
              %i.fab.fa-facebook-square
              
      .footer-cell
        %h2.footer-head ヘルプ＆ガイド
        %ul
          %li
            %a{:href => "https://www.mercari.com/jp/help_center/"} メルカリガイド
          %li
            %a{:href => "https://www.mercari.com/jp/rakuraku-mercari/"} らくらくメルカリ便
          %li
            %a{:href => "https://www.mercari.com/jp/yuyu-mercari/"} ゆうゆうメルカリ便
          %li
            %a{:href => "https://www.mercari.com/jp/rakuraku-ogata/"} 大型メルカリ便
          %li
            %a{:href => "https://www.mercari.com/jp/guide/car/"} 車体取引ガイド
          %li
            %a{:href => "https://www.mercari.com/jp/safe/description/"} メルカリあんしん・あんぜん宣言！
          %li
            %a{:href => "https://www.mercari.com/jp/authenticity/"} 偽ブランド品撲滅への取り組み
          %li
            %a{:href => "https://www.mercari.com/jp/box/"} メルカリボックス
      .footer-cell.full-width
        %h2.footer-head プライバシーと利用規約
        .inner-footer-cell
          %ul
            %li
              %a{:href => "https://www.mercari.com/jp/privacy/"} プライバシーポリシー
            %li
              %a{:href => "https://www.mercari.com/jp/tos/"} メルカリ利用規約
            %li
              %a{:href => "https://www.mercari.com/jp/tos_smartphone_support/"} あんしんスマホサポート制度に関する利用特約
            %li
              %a{:href => "https://www.mercari.com/jp/compliance/"} コンプライアンスポリシー
        .inner-footer-cell
          %ul
            %li
              %a{:href => "https://www.mercari.com/jp/data_security/"} 個人データの安全管理に係る基本方針
            %li
              %a{:href => "https://www.mercari.com/jp/tokutei/"} 特定商取引に関する表記
            %li
              %a{:href => "https://www.mercari.com/jp/shikin_kessai/"} 資金決済法に基づく表示
            %li
              %a{:href => "https://about.mercari.com/csr/safety/"} 法令順守と犯罪抑止のために
      .footer-cell.footer-nav-lang
        %h2.footer-head 国
        %ul
          %li
            %a.active{:href => "https://www.mercari.com/jp/"} 日本
          %li
            %a{:href => "https://www.mercari.com/"} United States
    .footer-bottom
      %a.footer-logo{:href => "https://www.mercari.com/jp/"}
        %img{:alt => "mercari", :height => "33", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?3466462615", :width => "124"}/
      %span.footer-copyright
        %small © 2019 Mercari
