.maincontents
  .header
    .header-contents
      .header-search
        .header-search__icon
          %a.mercari-icon
            %img.mercari-icon{:alt => "Mercari", :src => "https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg"}/
        .header-search__form
          %form
            %input{:name => "keyword", :placeholder => "何かお探しですか？", :type => "search", :value => ""}/
            .form-button
              %svg.searchbutton{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 16 16", :width => "16"}
                %path{:d => "M11.435 10.063h-.723l-.256-.247a5.92 5.92 0 0 0 1.437-3.87 5.946 5.946 0 1 0-5.947 5.947 5.92 5.92 0 0 0 3.87-1.437l.247.256v.723L14.637 16 16 14.637l-4.565-4.574zm-5.489 0A4.111 4.111 0 0 1 1.83 5.946 4.111 4.111 0 0 1 5.946 1.83a4.111 4.111 0 0 1 4.117 4.116 4.111 4.111 0 0 1-4.117 4.117z", :fill => "currentColor", "fill-rule" => "nonzero"}
      .header-navi
        .header-leftlist
          .header-leftlist__category
            %a.categorybutton
              %svg.categorybutton{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 20 16", :width => "20"}
                %path{:d => "M18.799 15.25h-11.5a1.25 1.25 0 1 1 0-2.5h11.5a1.25 1.25 0 0 1 0 2.5zm0-6h-11.5a1.25 1.25 0 1 1 0-2.5h11.5a1.25 1.25 0 0 1 0 2.5zm0-6h-11.5a1.25 1.25 0 1 1 0-2.5h11.5a1.25 1.25 0 0 1 0 2.5zM2 16a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-6a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-6a2 2 0 1 0 0-4 2 2 0 0 0 0 4z", :fill => "currentColor", "fill-rule" => "nonzero"}
              カテゴリーから探す
          .header-leftlist__brand
            %a.brandbutton
              %svg.brandbutton{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 23 16", :width => "23"}
                %path{:d => "M6.315 0L4.473 1.806 2.833.019.73 1.977l1.69 1.84L1.198 5.02c-1.594 1.594-1.594 4.188-.01 5.772L6.3 16h13.272a3.08 3.08 0 0 0 3.077-3.077V3.076A3.08 3.08 0 0 0 19.57 0H6.315zm13.46 12.925a.211.211 0 0 1-.205.205H7.504L3.227 8.771a1.226 1.226 0 0 1-.01-1.71L4.38 5.92l1.28 1.371a2.68 2.68 0 1 0 2.13-1.93L6.433 3.907 7.49 2.87h12.082a.211.211 0 0 1 .206.205v9.848h-.002z", :fill => "currentColor", "fill-rule" => "nonzero"}
              ブランドから探す
        .header-rightlist
          %ul.rightlist
            %li.likelist
              %a.likelist
                %svg.likelist{"aria-hidden" => "true", :height => "15", :viewbox => "0 0 16 15", :width => "16"}
                  %path{:d => "M8.08 12.711l-.08.082-.08-.082C4.112 9.188 1.6 6.858 1.6 4.496c0-1.635 1.2-2.861 2.8-2.861 1.232 0 2.432.81 2.856 1.929h1.496c.416-1.12 1.616-1.93 2.848-1.93 1.6 0 2.8 1.227 2.8 2.862 0 2.362-2.512 4.692-6.32 8.215M11.6 0C10.208 0 8.872.662 8 1.708 7.128.662 5.792 0 4.4 0 1.936 0 0 1.978 0 4.496c0 3.09 2.72 5.608 6.84 9.433L8 15l1.16-1.079C13.28 10.104 16 7.586 16 4.496 16 1.978 14.064 0 11.6 0", :fill => "currentColor", "fill-rule" => "evenodd"}
                いいね！一覧
            %li.noticelist
              %a.noticelist
                %svg.noticelist{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 14 16", :width => "14"}
                  %path{:d => "M6.592 16c.89 0 1.632-.734 1.632-1.632H4.928c0 .898.742 1.632 1.664 1.632zm4.896-4.928V6.976c-.008-2.521-1.345-4.63-3.712-5.184v-.576C7.79.55 7.241 0 6.56 0c-.68 0-1.23.55-1.216 1.216v.576c-2.36.554-3.704 2.654-3.712 5.184v4.096L0 12.704v.832h13.12v-.832l-1.632-1.632zm-1.632.832h-6.56V6.976c0-2.024 1.238-3.68 3.296-3.68 2.026 0 3.264 1.656 3.264 3.68v4.928z", :fill => "currentColor", "fill-rule" => "nonzero"}
                お知らせ
                %span
            %li.todolist
              %a.todolist
                %svg.todolist{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 21 16", :width => "21"}
                  %path{:d => "M6.682 12.657L1.67 7.642 0 9.313 6.682 16 21 1.672 19.33 0z", :fill => "currentColor", "fill-rule" => "nonzero"}
                やることリスト
            %li.mypagelist
              %a.mypagelist
                %img.mypagelist{:alt => "", :src => "https://static.mercdn.net/images/member_photo_noimage_thumb.png"}/
                マイページ
  .categorycontents
    .categorycontents-center
      .top-information
        %a.info{:href => "https://jp-news.mercari.com/2019/10/04/free-campaign", :target => "_blank"}
        .slider-info{:style => "box-sizing: border-box; display: block; height: auto; position: relative; visibility: inherit; width: 100%;"}
          .slider-frame{:style => "box-sizing:border-box;display:block;height:100%;margin:0px;-moz-box-sizing:border-box;-ms-transform:translate(0, 0);overflow:hidden;padding:0;position:relative;touch-action:pinch-zoom pan-y;transform:translate3d(0, 0, 0);-webkit-transform:translate3d(0, 0, 0)"}
            %ul.slider-list{:style => "transform: translate3d(-1555px, 0px, 0px); position: relative; display: block; margin: 0px; padding: 0px; height: 391px; width: 1020px; cursor: pointer; box-sizing: border-box; touch-action: pan-y pinch-zoom;"}
              %li.slider-slide{:style => "box-sizing: border-box; display: inline-block; height: auto; left: 0px; list-style-type: none; margin: auto 0px; position: absolute; top: 0px; transform: scale(1); transition: transform 0.4s linear 0s; vertical-align: top; width: 1020px;"}
                %a.slider{"aria-hidden" => "true", :href => "https://jp-news.mercari.com/2019/10/04/free-campaign", :target => "_blank"}
                  .camp-image
        .slider-controlleft
          .slider-controlleft__button
        .slider-controlright
          .slider-controlright__button
      .popularity-category
        %h2.category-text 全ての商品一覧
      .category-productlist
        .category-productlists
          .category-productlists__scroll
            %h3 商品一覧
            %a.seemore もっと見る
          .category-products-area
            .category-products-area__each
              .product-card
                .product-card__image-area
                  %img.card-image{:alt => "Thumbnail of \"状態◎！レイカズン   アシンメトリースカート\"", :src => "https://static.mercdn.net/thumb/photos/m12868605354_1.jpg?1567332863"}/
                  %span.price-area{"aria-label" => "Price"} ¥4,800
                .product-card__text-area 　状態◎！レイカズン   アシンメトリースカート
              .product-card
                -# %img{:alt => "Thumbnail of \"状態◎！レイカズン   アシンメトリースカート\"", :src => "https://static.mercdn.net/thumb/photos/m12868605354_1.jpg?1567332863"}/
                %span.price-area{"aria-label" => "Price"} ¥4,800
              .product-card__text-area
  .exhibit-button
    %a.exhibit
      .exhibit-contents
        .exhibit-contents__text 出品
        %svg.cameraicon{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 18 16", :width => "18"}
          %path{:d => "M6.3 0L4.653 1.778H1.8c-.99 0-1.8.8-1.8 1.778v10.666C0 15.2.81 16 1.8 16h14.4c.99 0 1.8-.8 1.8-1.778V3.556c0-.978-.81-1.778-1.8-1.778h-2.853L11.7 0H6.3zM9 13.333c-2.484 0-4.5-1.99-4.5-4.444 0-2.453 2.016-4.445 4.5-4.445s4.5 1.992 4.5 4.445c0 2.453-2.016 4.444-4.5 4.444zm0-1.6c1.59 0 2.88-1.273 2.88-2.844S10.59 6.044 9 6.044c-1.59 0-2.88 1.274-2.88 2.845 0 1.57 1.29 2.844 2.88 2.844z", :fill => "currentColor", "fill-rule" => "nonzero"}
  %aside.downloadlink
    .contents-area
      .contents-area__download
        .text-free スマホでかんたんフリマアプリ
        .text-soon 今すぐ無料ダウンロード！
        .download-icon
          %img.mercari{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png"}/
          %a.appstore
            %img.appstore{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg"}/
          %a.googlestore
            %img.googlestore{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg"}/
      %figure.smartphone
        %img.smartphone{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png"}/
  %footer
    %nav.footer
    .sc-cZBZkQ.fWNMlS
      %h2.style_heading__3qSF6.common_fontFamily__3-3Si.style_medium__1YL67.sc-jdfcpN.kWagRH メルカリについて
      %ul.sc-jMMfwr.jqeddd
        %li.sc-jGxEUC.deTNXB
          %a.sc-jdeSqf.lhBUUv{:href => "https://about.mercari.com/"} 会社概要（運営会社）
        %li.sc-jGxEUC.deTNXB
          %a.sc-jdeSqf.lhBUUv{:href => "/jp/jobs/"} 採用情報
        %li.sc-jGxEUC.deTNXB
          %a.sc-jdeSqf.lhBUUv{:href => "https://about.mercari.com/press/news/"} プレスリリース
        %li.sc-jGxEUC.deTNXB
          %a.sc-jdeSqf.lhBUUv{:href => "https://jp-news.mercari.com/", :target => "_blank"} 公式ブログ
        %li.sc-jGxEUC.deTNXB
          %a.sc-jdeSqf.lhBUUv{:href => "/jp/logo-guidelines/"} メルカリロゴ利用ガイドライン
        %a.sc-cBrjTV.gdPTKQ{:href => "https://twitter.com/mercari_jp", :target => "_blank"}
          %svg.sc-bRBYWo.sc-fkyLDJ.eCFuzj{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 21 16", :width => "21"}
            %path{:d => "M6.343 15.969c7.61 0 11.773-6.134 11.773-11.444 0-.172 0-.345-.008-.517a8.303 8.303 0 0 0 2.066-2.086 8.576 8.576 0 0 1-2.38.635A4.07 4.07 0 0 0 19.616.329a8.377 8.377 0 0 1-2.63.973 4.186 4.186 0 0 0-3.019-1.27c-2.283 0-4.14 1.803-4.14 4.023 0 .314.041.62.106.918A11.866 11.866 0 0 1 1.404.769a3.936 3.936 0 0 0-.557 2.023c0 1.396.735 2.628 1.84 3.35a4.278 4.278 0 0 1-1.872-.503v.055c0 1.945 1.428 3.577 3.317 3.945-.347.094-.71.141-1.09.141-.266 0-.524-.023-.774-.07.524 1.6 2.057 2.76 3.865 2.792a8.452 8.452 0 0 1-5.14 1.725 8.19 8.19 0 0 1-.985-.054 12.02 12.02 0 0 0 6.335 1.796", :fill => "currentColor", "fill-rule" => "evenodd"}
        %a.sc-cBrjTV.gdPTKQ{:href => "https://www.facebook.com/mercarijp", :target => "_blank"}
          %svg.sc-kEYyzF.sc-iCwjlJ.kXgLaj{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 16 16", :width => "16"}
            %path{:d => "M15.111 0H.89A.889.889 0 0 0 0 .889V15.11c0 .491.398.889.889.889h7.658V9.813H6.469V7.391h2.078V5.613c0-2.066 1.262-3.193 3.11-3.193.623-.002 1.244.03 1.863.096v2.15h-1.276c-1.002 0-1.197.478-1.197 1.178v1.543h2.397l-.31 2.422h-2.087V16h4.064c.491 0 .889-.398.889-.889V.89A.889.889 0 0 0 15.111 0z", :fill => "currentColor", "fill-rule" => "evenodd"}
    .sc-cZBZkQ.fWNMlS
      %h2.style_heading__3qSF6.common_fontFamily__3-3Si.style_medium__1YL67.sc-jdfcpN.kWagRH ヘルプ＆ガイド
      %ul.sc-jMMfwr.jqeddd
        %li
          %a.sc-jdeSqf.lhBUUv{:href => "/jp/help_center/"} メルカリガイド
        %li.sc-jGxEUC.deTNXB
          %a.sc-jdeSqf.lhBUUv{:href => "/jp/rakuraku-mercari/"} らくらくメルカリ便
        %li.sc-jGxEUC.deTNXB
          %a.sc-jdeSqf.lhBUUv{:href => "/jp/yuyu-mercari/"} ゆうゆうメルカリ便
        %li.sc-jGxEUC.deTNXB
          %a.sc-jdeSqf.lhBUUv{:href => "/jp/rakuraku-ogata/"} 大型メルカリ便
        %li.sc-jGxEUC.deTNXB
          %a.sc-jdeSqf.lhBUUv{:href => "/jp/guide/car/"} 車体取引ガイド
        %li.sc-jGxEUC.deTNXB
          %a.sc-jdeSqf.lhBUUv{:href => "/jp/safe/description/", :target => "_blank"} メルカリあんしん・あんぜん宣言！
        %li.sc-jGxEUC.deTNXB
          %a.sc-jdeSqf.lhBUUv{:href => "/jp/authenticity/"} 偽ブランド品撲滅への取り組み
        %li.sc-jGxEUC.deTNXB
          %a.sc-jdeSqf.lhBUUv{:href => "/jp/box/"} メルカリボックス
    .sc-cZBZkQ.sc-ecaExY.jkJraH
      %h2.style_heading__3qSF6.common_fontFamily__3-3Si.style_medium__1YL67.sc-jdfcpN.kWagRH プライバシーと利用規約
      .sc-jqIZGH.dqgEsZ
        %ul.sc-jMMfwr.jqeddd
          %li.sc-jGxEUC.deTNXB
            %a.sc-jdeSqf.lhBUUv{:href => "/jp/privacy/"} プライバシーポリシー
          %li.sc-jGxEUC.deTNXB
            %a.sc-jdeSqf.lhBUUv{:href => "/jp/tos/"} メルカリ利用規約
          %li.sc-jGxEUC.deTNXB
            %a.sc-jdeSqf.lhBUUv{:href => "/jp/tos_smartphone_support/"} あんしんスマホサポート制度に関する利用特約
          %li.sc-jGxEUC.deTNXB
            %a.sc-jdeSqf.lhBUUv{:href => "/jp/compliance/"} コンプライアンスポリシー
      .sc-jqIZGH.dqgEsZ
        %ul.sc-jMMfwr.jqeddd
          %li.sc-jGxEUC.deTNXB
            %a.sc-jdeSqf.lhBUUv{:href => "/jp/data_security/"} 個人データの安全管理に係る基本方針
          %li.sc-jGxEUC.deTNXB
            %a.sc-jdeSqf.lhBUUv{:href => "/jp/tokutei/"} 特定商取引に関する表記
          %li.sc-jGxEUC.deTNXB
            %a.sc-jdeSqf.lhBUUv{:href => "/jp/shikin_kessai/"} 資金決済法に基づく表示
          %li.sc-jGxEUC.deTNXB
            %a.sc-jdeSqf.lhBUUv{:href => "https://about.mercari.com/csr/safety/"} 法令順守と犯罪抑止のために
    .sc-cZBZkQ.sc-gbzWSY.bLlPss
      %h2.style_heading__3qSF6.common_fontFamily__3-3Si.style_medium__1YL67.sc-jdfcpN.kWagRH 国
      %ul.sc-jMMfwr.jqeddd
        %li.sc-jGxEUC.deTNXB
          %a.sc-jdeSqf.sc-jUpvKA.iuRzFU 日本
          %a.sc-jdeSqf.sc-jUpvKA.iuRzFU{:href => "/"} United States
  .mercari-info
    %a
      %img.sc-kNBZmU.igKrOd{:alt => "Mercari", :src => "https://web-jp-assets.mercdn.net/_next/static/images/logo-white-1a0696cf557ee1ed6f3c3444661d21ad.svg"}/
    %span.sc-kkbgRg.fdphvP © 2019 Mercari
