.header
  .header-contents
    .header-search
      .header-search__icon
        %a
          %img{:src => "assets/stylesheets/image/logo_horizontal.png"}
      .header-search__form
        %form
          %input
          .header-search__form-button
    .header-navi
      .header-leftlist 
        .header-leftlist__category
          %a カテゴリーから探す
        .header-leftlist__brand
          %a ブランドから探す
      .header-rightlist
        %ul
          %li
            いいね！一覧
          %li
            お知らせ
          %li
            やることリスト
          %li   
            マイページ       