.maincontents-credit_card
  = render "products/headers"

  .bread-crumbs
    .bread-crumbs_list
      %ul
        %li
          %a
            %span メルカリ
          %i.fas.fa-chevron-right
        %li
          %span マイページ
          %i.fas.fa-chevron-right
        %li
          %span 支払い方法

  .exhibit-button
    %a.exhibit
      .exhibit-contents
        .exhibit-contents__text 出品
        %svg.cameraicon{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 18 16", :width => "18"}
          %path{:d => "M6.3 0L4.653 1.778H1.8c-.99 0-1.8.8-1.8 1.778v10.666C0 15.2.81 16 1.8 16h14.4c.99 0 1.8-.8 1.8-1.778V3.556c0-.978-.81-1.778-1.8-1.778h-2.853L11.7 0H6.3zM9 13.333c-2.484 0-4.5-1.99-4.5-4.444 0-2.453 2.016-4.445 4.5-4.445s4.5 1.992 4.5 4.445c0 2.453-2.016 4.444-4.5 4.444zm0-1.6c1.59 0 2.88-1.273 2.88-2.844S10.59 6.044 9 6.044c-1.59 0-2.88 1.274-2.88 2.845 0 1.57 1.29 2.844 2.88 2.844z", :fill => "currentColor", "fill-rule" => "nonzero"}

  %main.l-container.clearfix
    .l-content
      %section.l-chapter-container
        %h2.l-chapter-head 支払い方法
        .l-single-inner
          %section
            .l-single-content
              %h3.l-chapter-sub-head クレジットカード一覧
            %ul.settings-payment-list
          %section.settings-add-card
            .l-single-content
              %a.btn-default.btn-red.submit_button{:href => "https://www.mercari.com/jp/mypage/card/create/"}
                %i.far.fa-credit-card>
                クレジットカードを追加する
          .settings-not-regist
            %a{:href => "/jp/help_center/category/6/", :target => "_blank"}
              %span 支払い方法について
              %i.fas.fa-chevron-right

    .l-side
      %nav.mypage-nav
        %ul.mypage-nav-list
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/"}
              マイページ
              %i.fas.fa-chevron-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/notification/"}
              お知らせ
              %i.fas.fa-chevron-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/todo/"}
              やることリスト
              %i.fas.fa-chevron-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/like/history/"}
              いいね！一覧
              %i.fas.fa-chevron-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/sell/"}
              出品する
              %i.fas.fa-chevron-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/listings/listing/"}
              出品した商品 - 出品中
              %i.fas.fa-chevron-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/listings/in_progress/"}
              出品した商品 - 取引中
              %i.fas.fa-chevron-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/listings/completed/"}
              出品した商品 - 売却済み
              %i.fas.fa-chevron-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/purchase/"}
              購入した商品 - 取引中
              %i.fas.fa-chevron-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/purchased/"}
              購入した商品 - 過去の取引
              %i.fas.fa-chevron-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/news/"}
              ニュース一覧
              %i.fas.fa-chevron-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/review/history/"}
              評価一覧
              %i.fas.fa-chevron-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/help_center/"}
              ガイド
              %i.fas.fa-chevron-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/support/"}
              お問い合わせ
              %i.fas.fa-chevron-right
        %h3.mypage-nav-head メルペイ
        %ul.mypage-nav-list
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/sales/"}
              売上・振込申請
              %i.fas.fa-chevron-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/point/"}
              ポイント
              %i.fas.fa-chevron-right
        %h3.mypage-nav-head 設定
        %ul.mypage-nav-list
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/profile/"}
              プロフィール
              %i.fas.fa-chevron-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/deliver_address/"}
              発送元・お届け先住所変更
              %i.fas.fa-chevron-right
          %li
            %a.mypage-nav-list-item.active{:href => "/jp/mypage/card/"}
              支払い方法
              %i.fas.fa-chevron-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/email_password/"}
              メール/パスワード
              %i.fas.fa-chevron-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/identification/"}
              本人情報
              %i.fas.fa-chevron-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/mypage/sms_confirmation/"}
              電話番号の確認
              %i.fas.fa-chevron-right
          %li
            %a.mypage-nav-list-item{:href => "/jp/logout/"}
              ログアウト
              %i.fas.fa-chevron-right

  = render "products/app_banner"
  = render "products/footers"
