%aside.downloadlink
  .contents-area
    .contents-area__download
      .text-free スマホでかんたんフリマアプリ
      .text-soon 今すぐ無料ダウンロード！
      .download-icon
        %img.mercari{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png"}/
        %a.appstore
          %img.appstore{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg"}/
        %a.googlestore
          %img.googlestore{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg"}/
    %figure.smartphone
      %img.smartphone{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png"}/