.product-detail-contents
  .header
    .header-contents
      .header-search
        .header-search__icon
          %a.mercari-icon
            %img.mercari-icon{:alt => "Mercari", :src => "https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg"}/
        .header-search__form
          %form
            %input{:name => "keyword", :placeholder => "何かお探しですか？", :type => "search", :value => ""}/
            .form-button
              %svg.searchbutton{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 16 16", :width => "16"}
                %path{:d => "M11.435 10.063h-.723l-.256-.247a5.92 5.92 0 0 0 1.437-3.87 5.946 5.946 0 1 0-5.947 5.947 5.92 5.92 0 0 0 3.87-1.437l.247.256v.723L14.637 16 16 14.637l-4.565-4.574zm-5.489 0A4.111 4.111 0 0 1 1.83 5.946 4.111 4.111 0 0 1 5.946 1.83a4.111 4.111 0 0 1 4.117 4.116 4.111 4.111 0 0 1-4.117 4.117z", :fill => "currentColor", "fill-rule" => "nonzero"}
      .header-navi
        .header-leftlist
          .header-leftlist__category
            %a.categorybutton
              %svg.categorybutton{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 20 16", :width => "20"}
                %path{:d => "M18.799 15.25h-11.5a1.25 1.25 0 1 1 0-2.5h11.5a1.25 1.25 0 0 1 0 2.5zm0-6h-11.5a1.25 1.25 0 1 1 0-2.5h11.5a1.25 1.25 0 0 1 0 2.5zm0-6h-11.5a1.25 1.25 0 1 1 0-2.5h11.5a1.25 1.25 0 0 1 0 2.5zM2 16a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-6a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-6a2 2 0 1 0 0-4 2 2 0 0 0 0 4z", :fill => "currentColor", "fill-rule" => "nonzero"}
              カテゴリーから探す
          .header-leftlist__brand
            %a.brandbutton
              %svg.brandbutton{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 23 16", :width => "23"}
                %path{:d => "M6.315 0L4.473 1.806 2.833.019.73 1.977l1.69 1.84L1.198 5.02c-1.594 1.594-1.594 4.188-.01 5.772L6.3 16h13.272a3.08 3.08 0 0 0 3.077-3.077V3.076A3.08 3.08 0 0 0 19.57 0H6.315zm13.46 12.925a.211.211 0 0 1-.205.205H7.504L3.227 8.771a1.226 1.226 0 0 1-.01-1.71L4.38 5.92l1.28 1.371a2.68 2.68 0 1 0 2.13-1.93L6.433 3.907 7.49 2.87h12.082a.211.211 0 0 1 .206.205v9.848h-.002z", :fill => "currentColor", "fill-rule" => "nonzero"}
              ブランドから探す
        .header-rightlist
          %ul.rightlist
            %li.likelist
              %a.likelist
                %svg.likelist{"aria-hidden" => "true", :height => "15", :viewbox => "0 0 16 15", :width => "16"}
                  %path{:d => "M8.08 12.711l-.08.082-.08-.082C4.112 9.188 1.6 6.858 1.6 4.496c0-1.635 1.2-2.861 2.8-2.861 1.232 0 2.432.81 2.856 1.929h1.496c.416-1.12 1.616-1.93 2.848-1.93 1.6 0 2.8 1.227 2.8 2.862 0 2.362-2.512 4.692-6.32 8.215M11.6 0C10.208 0 8.872.662 8 1.708 7.128.662 5.792 0 4.4 0 1.936 0 0 1.978 0 4.496c0 3.09 2.72 5.608 6.84 9.433L8 15l1.16-1.079C13.28 10.104 16 7.586 16 4.496 16 1.978 14.064 0 11.6 0", :fill => "currentColor", "fill-rule" => "evenodd"}
                いいね！一覧
            %li.noticelist
              %a.noticelist
                %svg.noticelist{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 14 16", :width => "14"}
                  %path{:d => "M6.592 16c.89 0 1.632-.734 1.632-1.632H4.928c0 .898.742 1.632 1.664 1.632zm4.896-4.928V6.976c-.008-2.521-1.345-4.63-3.712-5.184v-.576C7.79.55 7.241 0 6.56 0c-.68 0-1.23.55-1.216 1.216v.576c-2.36.554-3.704 2.654-3.712 5.184v4.096L0 12.704v.832h13.12v-.832l-1.632-1.632zm-1.632.832h-6.56V6.976c0-2.024 1.238-3.68 3.296-3.68 2.026 0 3.264 1.656 3.264 3.68v4.928z", :fill => "currentColor", "fill-rule" => "nonzero"}
                お知らせ
                %span
            %li.todolist
              %a.todolist
                %svg.todolist{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 21 16", :width => "21"}
                  %path{:d => "M6.682 12.657L1.67 7.642 0 9.313 6.682 16 21 1.672 19.33 0z", :fill => "currentColor", "fill-rule" => "nonzero"}
                やることリスト
            %li.mypagelist
              %a.mypagelist
                %img.mypagelist{:alt => "", :src => "https://static.mercdn.net/images/member_photo_noimage_thumb.png"}/
                マイページ
  .product-detail-box
    %h1.product-name
      =@product.name
    .product-detail-contents
      .product-photo
        .photo-area
          .photo-area-main
            .photo-area-slider
              .photo-area-slider__active
                .photo-area-adjust
                  %img{:alt => "ITS' DEMO ブラウス トップス カットソー", "data-src" => "https://static.mercdn.net/item/detail/orig/photos/m93020510979_1.jpg?1569929398", :src => "https://static.mercdn.net/item/detail/orig/photos/m93020510979_1.jpg?1569929398", :style => "opacity: 1;"}/
          .sub-photos
            .sub-photo.active
              %span
              .sub-photo-inner
                %img{:src => "https://static.mercdn.net/item/detail/orig/photos/m93020510979_1.jpg?1569929398"}/
            .sub-photo
              %span
              .sub-photo-inner
                %img{:src => "https://static.mercdn.net/item/detail/orig/photos/m93020510979_2.jpg?1569929398"}/
            .sub-photo
              %span
              .sub-photo-inner
                %img{:src => "https://static.mercdn.net/item/detail/orig/photos/m93020510979_3.jpg?1569929398"}/
            .sub-photo
              %span
              .sub-photo-inner
                %img{:src => "https://static.mercdn.net/item/detail/orig/photos/m93020510979_4.jpg?1569929398"}/
            .sub-photo
              %span
              .sub-photo-inner
                %img{:src => "https://static.mercdn.net/item/detail/orig/photos/m93020510979_5.jpg?1569929398"}/
            .sub-photo
              %span
              .sub-photo-inner
                %img{:src => "https://static.mercdn.net/item/detail/orig/photos/m93020510979_6.jpg?1569929398"}/
            .sub-photo
              %span
              .sub-photo-inner
                %img{:src => "https://static.mercdn.net/item/detail/orig/photos/m93020510979_7.jpg?1569929398"}/
      %table.product-detail
        %tbody
          %tr
            %th 出品者
            %td
              %a 
              =@product.user.profile.nickname
              %div
                .product-rate
                  %i.fas.fa-laugh
                  %span 1000
                .product-rate
                  %i.fas.fa-meh
                  %span 190
                .product-rate
                  %i.fas.fa-frown
                  %span 21
          %tr
            %th カテゴリー 
            %td
              %a
                %div レディース
              %a
                .sub-category
                  %i.fas.fa-chevron-right
                  トップス
              %a
                .sub-sub-category
                  %i.fas.fa-chevron-right
                  シャツ/ブラウス(七分/長袖)
          %tr
            %th ブランド
            %td
              %a
                %div ブランド名
          %tr
            %th 商品のサイズ
            %td M
          %tr
            %th 商品の状態
            %td 新品、未使用
          %tr
            %th 配送料の負担
            %td 送料込み(出品者負担)
          %tr
            %th 配送の方法
            %td ゆうゆうメルカリ便
          %tr
            %th 配送元地域
            %td
              %a 大阪府
          %tr
            %th 配送日の目安
            %td 2~3日で発送
    .price-text-box
      %span.text ¥#{@product.price}
      %span.tax (税込)
      %span.delivery-fee
        送料込み
      = link_to product_purchase_confirmation_product_url(@product), data: {turbolinks: :false} do
        .product-buy-btn  購入画面に進む
    %p.delivery-explain この商品はゆうゆうメルカリ便を利用しているため、アプリからのみ購入できます。
    .product-description
      %p.product-description-text
        新品、未使用、タグ付き
        %br
        ITS' DEMO
        プルオーバー ブラウス カットソー
        ダークグリーン
        サイズ 38
        %br 定価 2,990円＋税
        身幅 約47㎝（脇の下）
        着丈 約50㎝（襟ぐり〜、前）
        約57㎝（襟ぐり〜、後ろ）
        平置き、素人採寸ですので、多少の誤差はご了承下さい。
        %br 
        裾に向かってAラインに広がっています。
        22㎝ほど切り込みが入っているお袖はヒラヒラとした個性的なデザインになっています。
        %br 自宅保管ですので、ご理解のある方のみよろしくお願い致します。
    .product-bottom-btn
      .left-btn
        %button.like-button{"data-ga" => "element", "data-ga-category" => "LIKE", "data-ga-label" => "like!", "data-id" => "m93020510979", "data-toggle" => "like", :name => "like!", :type => "button"}
          %i.far.fa-heart
          %span いいね!
          %span.like-count{"data-num" => "like"} 7
        %a.product-report-btn{"data-modal" => "report-item", "data-open" => "modal", :href => ""}
          %i.far.fa-flag
          %span 不適切な商品の報告
      .right-btn
        %a.safety-content
          %i.fas.fa-lock
          %span あんしん・あんぜんへの取り組み
  .product-comment-box
    .comment-content
      %form.message-form{:action => "https://www.mercari.com/jp/comment/add/", :method => "POST"}
        %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %textarea{:name => "body", :type => "text", :value => ""}
        %button.comment-send-btn{:type => "submit"}
          %span コメントする
  %ul.product-link-btn
    %li.product-prev-link
      %a{:href => "https://item.mercari.com/jp/m99162609224/"}
        %i.fas.fa-chevron-left
        Petitetalage  サルールパンツ  90サイズ
    %li.product-next-link
      %a{:href => "https://item.mercari.com/jp/m13795550378/"}
        【18】クリアアクリルビーズ 4㎜ 400個
        %i.fas.fa-chevron-right
  .social-contents-link
    %ul.contents-area
      %li
        %a{"data-window-name" => "facebook_window", :href => "http://www.facebook.com/share.php?u=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm93020510979%2F", :target => "_blank"}
          %i.fab.fa-facebook-square
      %li
        %a{"data-window-name" => "twitter_window", :href => "http://twitter.com/share?count=horizontal&original_referer=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm93020510979%2F&text=ITS%27%20DEMO%20%E3%83%96%E3%83%A9%E3%82%A6%E3%82%B9%20%E2%80%A6%20%28%C2%A51%2C000%29%20https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm93020510979%2F%20%E3%83%95%E3%83%AA%E3%83%9E%E3%82%A2%E3%83%97%E3%83%AA%E3%80%8C%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%E3%80%8D%E3%81%A7%E8%B2%A9%E5%A3%B2%E4%B8%AD%E2%99%AA%20%23%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%20%40mercari_jp%E3%81%95%E3%82%93%E3%81%8B%E3%82%89", :target => "_blank"}
          %i.fab.fa-twitter-square
      %li
        %a{"data-window-name" => "pinterest_window", :href => "http://pinterest.com/pin/create/button/?url=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm93020510979%2F&media=https%3A%2F%2Fstatic.mercdn.net%2Fitem%2Fdetail%2Forig%2Fphotos%2Fm93020510979_1.jpg%3F1569929398&description=%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%E5%95%86%E5%93%81%3A%20ITS%27%20DEMO%20%E3%83%96%E3%83%A9%E3%82%A6%E3%82%B9%20%E3%83%88%E3%83%83%E3%83%97%E3%82%B9%20%E3%82%AB%E3%83%83%E3%83%88%E3%82%BD%E3%83%BC%20%23%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA", :target => "_blank"}
          %i.fab.fa-pinterest-square
  .other-products
    .other-products__area
      %h2.name-text
        %a{:href => "https://www.mercari.com/jp/u/823658594/"} sampleさんのその他の出品
      .products-box-area
        .product-card
          %a
            %figure.product-photo
              %img{:alt => "枕頭ナット", "data-src" => "https://www.mercari.com/jp/static.mercdn.net/thumb/photos/m99317954545_1.jpg?1571918152", :src => "https://static.mercdn.net/thumb/photos/m99317954545_1.jpg?1571918152"}/
            .text-area
              %h3.product-name 枕頭ナット
              .product-contents
                .product-contents__price ¥2,300
                .product-contents__like
                  %i.far.fa-heart
                  %span 16
        .product-card
          %a
            %figure.product-photo
              %img{:alt => "枕頭ナット", "data-src" => "https://www.mercari.com/jp/static.mercdn.net/thumb/photos/m99317954545_1.jpg?1571918152", :src => "https://static.mercdn.net/thumb/photos/m99317954545_1.jpg?1571918152"}/
            .text-area
              %h3.product-name 枕頭ナット
              .product-contents
                .product-contents__price ¥2,300
                .product-contents__like
                  %i.far.fa-heart
                  %span 16
        .product-card
          %a
            %figure.product-photo
              %img{:alt => "枕頭ナット", "data-src" => "https://www.mercari.com/jp/static.mercdn.net/thumb/photos/m99317954545_1.jpg?1571918152", :src => "https://static.mercdn.net/thumb/photos/m99317954545_1.jpg?1571918152"}/
            .text-area
              %h3.product-name 枕頭ナット
              .product-contents
                .product-contents__price ¥2,300
                .product-contents__like
                  %i.far.fa-heart
                  %span 16
        .product-card
          %a
            %figure.product-photo
              %img{:alt => "枕頭ナット", "data-src" => "https://www.mercari.com/jp/static.mercdn.net/thumb/photos/m99317954545_1.jpg?1571918152", :src => "https://static.mercdn.net/thumb/photos/m99317954545_1.jpg?1571918152"}/
            .text-area
              %h3.product-name 枕頭ナット
              .product-contents
                .product-contents__price ¥2,300
                .product-contents__like
                  %i.far.fa-heart
                  %span 16
        .product-card
          %a
            %figure.product-photo
              %img{:alt => "枕頭ナット", "data-src" => "https://www.mercari.com/jp/static.mercdn.net/thumb/photos/m99317954545_1.jpg?1571918152", :src => "https://static.mercdn.net/thumb/photos/m99317954545_1.jpg?1571918152"}/
            .text-area
              %h3.product-name 枕頭ナット
              .product-contents
                .product-contents__price ¥2,300
                .product-contents__like
                  %i.far.fa-heart
                  %span 16
        .product-card
          %a
            %figure.product-photo
              %img{:alt => "枕頭ナット", "data-src" => "https://www.mercari.com/jp/static.mercdn.net/thumb/photos/m99317954545_1.jpg?1571918152", :src => "https://static.mercdn.net/thumb/photos/m99317954545_1.jpg?1571918152"}/
            .text-area
              %h3.product-name 枕頭ナット
              .product-contents
                .product-contents__price ¥2,300
                .product-contents__like
                  %i.far.fa-heart
                  %span 16
  %nav.transition-link
    %ul
      %li
        %a
          %span メルカリ
        %i.fas.fa-chevron-right
      %li
        %span ITS' DEMO ブラウス トップス カットソー
  %aside.downloadlink
    .contents-area
      .contents-area__download
        .text-free スマホでかんたんフリマアプリ
        .text-soon 今すぐ無料ダウンロード！
        .download-icon
          %img.mercari{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png"}/
          %a.appstore
            %img.appstore{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg"}/
          %a.googlestore
            %img.googlestore{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg"}/
      %figure.smartphone
        %img.smartphone{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png"}/
  %footer.global-footer
    %nav.clearfix
      .footer-cell
        %h2.footer-head メルカリについて
        %ul
          %li
            %a{:href => "https://about.mercari.com/"} 会社概要（運営会社）
          %li
            %a{:href => "https://www.mercari.com/jp/jobs/"} 採用情報
          %li
            %a{:href => "https://about.mercari.com/press/news/"} プレスリリース
          %li
            %a{:href => "https://jp-news.mercari.com/", :target => "_blank"} 公式ブログ
          %li
            %a{:href => "https://www.mercari.com/jp/logo-guidelines/"} メルカリロゴ利用ガイドライン
          %li.footer-social-link
            %a{:href => "https://twitter.com/mercari_jp", :target => "_blank"}
              %i.fab.fa-twitter
          %li.footer-social-link
            %a{:href => "https://www.facebook.com/mercarijp", :target => "_blank"}
              %i.fab.fa-facebook-square
              
      .footer-cell
        %h2.footer-head ヘルプ＆ガイド
        %ul
          %li
            %a{:href => "https://www.mercari.com/jp/help_center/"} メルカリガイド
          %li
            %a{:href => "https://www.mercari.com/jp/rakuraku-mercari/"} らくらくメルカリ便
          %li
            %a{:href => "https://www.mercari.com/jp/yuyu-mercari/"} ゆうゆうメルカリ便
          %li
            %a{:href => "https://www.mercari.com/jp/rakuraku-ogata/"} 大型メルカリ便
          %li
            %a{:href => "https://www.mercari.com/jp/guide/car/"} 車体取引ガイド
          %li
            %a{:href => "https://www.mercari.com/jp/safe/description/"} メルカリあんしん・あんぜん宣言！
          %li
            %a{:href => "https://www.mercari.com/jp/authenticity/"} 偽ブランド品撲滅への取り組み
          %li
            %a{:href => "https://www.mercari.com/jp/box/"} メルカリボックス
      .footer-cell.full-width
        %h2.footer-head プライバシーと利用規約
        .inner-footer-cell__left
          %ul
            %li
              %a{:href => "https://www.mercari.com/jp/privacy/"} プライバシーポリシー
            %li
              %a{:href => "https://www.mercari.com/jp/tos/"} メルカリ利用規約
            %li
              %a{:href => "https://www.mercari.com/jp/tos_smartphone_support/"} あんしんスマホサポート制度に関する利用特約
            %li
              %a{:href => "https://www.mercari.com/jp/compliance/"} コンプライアンスポリシー
        .inner-footer-cell__right
          %ul
            %li
              %a{:href => "https://www.mercari.com/jp/data_security/"} 個人データの安全管理に係る基本方針
            %li
              %a{:href => "https://www.mercari.com/jp/tokutei/"} 特定商取引に関する表記
            %li
              %a{:href => "https://www.mercari.com/jp/shikin_kessai/"} 資金決済法に基づく表示
            %li
              %a{:href => "https://about.mercari.com/csr/safety/"} 法令順守と犯罪抑止のために
      .footer-cell.footer-nav-lang
        %h2.footer-head 国
        %ul
          %li
            %a.active{:href => "https://www.mercari.com/jp/"} 日本
          %li
            %a{:href => "https://www.mercari.com/"} United States
    .footer-bottom
      %a.footer-logo{:href => "https://www.mercari.com/jp/"}
        %img{:alt => "mercari", :height => "33", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?3466462615", :width => "124"}/
      %span.footer-copyright
        %small © 2019 Mercari
